/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
*/


/* 
 * Font support
*/
@font-face {
  font-family: Prosto;
  src: url(../fonts/Prosto.ttf),
    url(../fonts/Prosto.eot); /* IE9 */
}

/*
 * Body
*/

body {
  margin: 0;
  padding: 0;
  background: url(../images/whitepattern_background.png);
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
*/

#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
*/

#header {
}

#logo { /* Wrapping link for logo */
  /*float: left; /* LTR */
  float: right; /* LTR */
  margin: 0;
  padding: 0;
}
#logo img {
  vertical-align: bottom;
}

#name-and-slogan { /* Wrapper for website name and slogan */
  /* float: left; */
  float: right;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

a.mg_portal_menu { /* portal profile menu items */
  background-image: url('../images/set_1.png') ;
  margin: 0;
  width: 60px;
  height: 75px;
  display: inline-block;
  font-family: "DejaVu Sans", Verdana;
  font-size: 0;
  text-align: center;
}

a.mg_portal_profile { /* portal profile menu link */
  background-position: -60px 0px;
}

a.mg_portal_profile:hover, a.mg_portal_profile.active,  a.mg_portal_profile.active-trail { /* portal profile menu link */
  background-position: -60px 75px;
}

a.mg_portal_activities { /* portal profile menu link */
  background-position: -120px 0px;
}

a.mg_portal_activities:hover, a.mg_portal_activities.active, a.mg_portal_activities.active-trail { /* portal activities menu link */
  background-position: -120px 75px;
}

a.mg_portal_games { /* portal profile menu link */
  background-position: 0px 0px;
}

a.mg_portal_games:hover, a.mg_portal_games.active, a.mg_portal_games.active-trail { /* portal admin menu link */
  background-position: 0px 75px;
}

a.mg_portal_scores { /* portal profile menu link */
  background-position: -180px 0px;
}

a.mg_portal_scores:hover, a.mg_portal_scores.active, a.mg_portal_scores.active-trail  { /* portal scores menu link */
  background-position: -180px 75px;
}

a.mg_portal_players { /* portal profile menu link */
  background-position: -240px 0px;
}

a.mg_portal_players:hover, a.mg_portal_players.active, a.mg_portal_players.active-trail { /* portal players menu link */
  background-position: -240px 75px;
}

a.mg_portal_stats { /* portal profile menu link */
  background-position: -300px 0px;
}

a.mg_portal_stats:hover, a.mg_portal_stats.active, a.mg_portal_stats.active-trail { /* portal statistics menu link */
  background-position: -300px 75px;
}

a.mg_portal_admin { /* portal profile menu link */
  background-position: -360px 0px;
}

a.mg_portal_admin:hover, a.mg_portal_admin.active, a.mg_portal_admin.active-trail { /* portal admin menu link */
  background-position: -360px 75px;
}

.breadcrumb a.mg_portal_menu { /* only text for breadcrumb */
  background-image: none;
  font-family: Verdana,Tahoma,"DejaVu Sans",sans-serif;
  font-size: 100%;
  width: auto;
  height: auto;
}

.mg_table th, .mg_table td { /* tables created for the microgame portal */
  padding: 5px;
  font-weight: normal;
}

.mg_center {
  text-align: center;
}
/*
 * Main (container for everything else)
*/

#main {
}

/*
 * Content
*/

#content {
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0; /* LTR */
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li { /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 *  Game widgets 
 * 
*/

#game_box {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height:auto !important; 
  
  text-align: center;
}

.game_widget {
  margin: 25px 25px;
  padding: 10px; 
  -moz-border-radius: 15px;
  border-radius: 15px;
  width: 120px; 
  height: 120px;
  -moz-box-shadow: 5px 5px 2px #888;
  -webkit-box-shadow: 5px 5px 2px #888;
  box-shadow: 5px 5px 2px #888;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CC99FF), to(#E4BDFF));
  background-image: -webkit-linear-gradient(top, #E4BDFF, #CC99FF); 
  background-image: -moz-linear-gradient(top, #E4BDFF, #CC99FF);
  background-image: -ms-linear-gradient(top, #E4BDFF, #CC99FF);
  background-image: -o-linear-gradient(top, #E4BDFF, #CC99FF);
  display: inline-table;
  vertical-align: text-top;
}

.game_widget p {
  display: table-cell;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

.game_widget:hover{
   margin-left: 27px;
   margin-right: 23px;
  -moz-box-shadow: 2px 2px 2px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
  box-shadow: 2px 2px 2px #888;
    cursor: hand;
    cursor: pointer;
}

.game_play_btn {
  margin: 25px 25px;
  padding: 10px; 
  -moz-border-radius: 15px;
  border-radius: 15px;
  width: 120px; 
  height: 20px;
  -moz-box-shadow: 5px 5px 2px #888;
  -webkit-box-shadow: 5px 5px 2px #888;
  box-shadow: 5px 5px 2px #888;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#04B404), to(#0B610B));
  background-image: -webkit-linear-gradient(top, #04B404, #0B610B); 
  background-image: -moz-linear-gradient(top, #04B404, #0B610B);
  background-image: -ms-linear-gradient(top, #04B404, #0B610B);
  background-image: -o-linear-gradient(top, #04B404, #0B610B);
  display: inline-table;
  vertical-align: text-top;
}

.game_play_btn p {
  display: table-cell;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

.game_play_btn:hover{
   margin-left: 27px;
   margin-right: 23px;
  -moz-box-shadow: 2px 2px 2px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
  box-shadow: 2px 2px 2px #888;
    cursor: hand;
    cursor: pointer;
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
*/

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
*/

.region-sidebar-second {
}

/*
 * Footer
*/

#footer {
}

/*
 * Page bottom
*/

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}
